@import url("https://fonts.googleapis.com/css?family=Audiowide|Josefin+Sans|Orbitron:400,700&display=swap");

// ============================= Global variables ================================
$primary-title: "Audiowide", cursive;
$secondary-title: "Orbitron", sans-serif;
$content: "Josefin Sans", sans-serif;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// ============================= body ==============================
body {
  width: 100%;
  height: 100vh;

  background-image: url(../images/main-app-bg.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;
  transition: background-image 1000ms;
  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100vh;
    background: #000;
    opacity: 0.6;
    top: 0;
    left: 0;
    z-index: 0;
  }
}
// ===================================== options =================================

.select-options {
  z-index: 10;
  width: 80%;
  margin: auto;
  height: 20vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;

  select {
    font-family: $secondary-title;
    background: transparent;
    border: none;
    color: #fff;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: "";
    padding-right: 35px;
    cursor: pointer;

    &::-ms-expand {
      display: none;
    }
    option {
      height: 40px;
      padding: 10px;
      border-radius: 50px;
      background: #000;
    }
  }

  .options-for-main,
  .extra-options-for-temperatures {
    position: relative;
    select {
      font-size: 3.5rem;
      option {
        font-size: 1rem;
        color: #fff;
      }
    }
    &::after {
      content: "";
      position: absolute;
      width: 35px;
      height: 20px;
      pointer-events: none;
      top: 50%;
      right: 0%;
      background-image: url(../images/chevron-down-solid.svg);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
    }
  }
  .extra-options-for-temperatures {
    select {
      font-size: 1.2rem;
      padding-right: 20px;
    }

    &::after {
      width: 20px;
      height: 15px;
      transform: translateY(-35%);
    }
  }
}
// =========================== temperature content =================================
.main-for-temperature {
  .container-for-temperature {
    height: 60vh;
    width: 90%;
    margin: auto;
    z-index: 100;
    position: relative;

    .box {
      display: flex;
      width: 100%;
      height: 100%;
      justify-content: space-between;
      align-items: center;

      .air-temperature,
      .wind-speed,
      .pressure {
        color: #fff;
        .title {
          padding-bottom: 20px;
          font-size: 1.5rem;
          font-family: $primary-title;
          text-align: center;
        }
        .info {
          font-family: $content;
          .min,
          .avg,
          .max {
            padding: 30px 0;
            font-size: 1.2rem;
            width: 100%;
            display: flex;
            justify-content: space-between;
          }
        }
      }
    }
  }
}
// ========================= summary content ================================
.main-for-wiki {
  .container-for-wiki {
    width: 70%;
    margin: auto;
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 99;
    position: relative;
    .content {
      font-family: $content;
      font-size: 1.2rem;
      color: #fff;

      p {
        line-height: 50px;
        text-align: center;
      }
    }
  }
}

// ============================== rovers imgs ==================================
.main-for-rovers {
  .container-for-rovers {
    z-index: 99;
    position: relative;
    width: 80%;
    margin: auto;
    height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    .text {
      color: #fff;
      font-family: $content;
      font-size: 1.2rem;
      width: 80%;
      text-align: center;
    }
    .images {
      display: grid;
      align-content: center;
      grid-template-columns: repeat(4, minmax(200px, 300px));
      grid-template-rows: 250px;
      gap: 20px;

      .img {
        cursor: pointer;
        position: relative;
        img {
          width: 100%;
          height: 100%;
        }
        .info {
          opacity: 0;
          pointer-events: none;
          text-align: center;
          z-index: 100;
          font-family: $content;
          font-size: 1rem;
          color: #fff;
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
          width: 100%;
          height: 80%;
          display: flex;
          flex-direction: column;
          justify-content: space-evenly;
          transition: opacity 400ms;
          transform: translateY(100%);

          p:first-child,
          p:nth-child(3n) {
            font-weight: 700;
          }
          a {
            margin: 0 auto;
            width: 80%;
            text-decoration: none;
            color: #fff;
            border: 1px solid #fff;
            font-family: $content;
            padding: 2%;
            background: transparent;
            cursor: pointer;
            transition: background 400ms;

            &:hover {
              background: #fff;
              color: #000;
            }
          }
        }
        &::after {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background: #000;
          opacity: 0;
          z-index: 1;
          transition: opacity 300ms;
        }

        &:hover .info {
          opacity: 1;
          pointer-events: all;
          transform: translateY(0%);
        }
        &:hover::after {
          opacity: 0.6;
        }
      }
    }
  }
}
// ============================ did you know ==================================
.did-you-know {
  z-index: 10;
  position: relative;
  width: 45%;
  margin: auto;
  height: 80vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  flex-direction: column-reverse;
  text-align: center;
  color: #fff;
  border-radius: 15px;
  .box {
    border-radius: 15px;
    padding: 10px;
    border: 1px solid #fff;
    -webkit-box-shadow: 0px 10px 5px 0px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0px 10px 5px 0px rgba(0, 0, 0, 0.4);
    box-shadow: 0px 10px 5px 0px rgba(0, 0, 0, 0.4);

    .header {
      font-size: 1.8rem;
      font-family: $secondary-title;
    }
    .fact {
      font-size: 1.3rem;
      padding: 20px;
      font-family: $content;
    }
  }
  .queue {
    font-size: 1.2rem;
    display: block;
    font-family: $content;

    p {
      text-transform: capitalize;
      padding: 10px;

      .color {
        font-weight: 700;
        color: #b5540e;
      }
    }
  }
}
.active {
  border: 1px solid #fff;
  height: 15vh;
  width: 40%;

  .box {
    box-shadow: none;
    background-color: transparent;
    padding: 0;
    border: none;

    .header {
      font-size: 1.5rem;
    }
    .fact {
      font-size: 1.1rem;
      padding: 15px;
    }
  }
  .queue {
    display: none;
  }
}
// ============================ go home btn ==============================
.go-back-btn {
  position: absolute;
  width: 50px;
  height: 35px;
  top: 90%;
  left: 10%;
  transform: translate(-10%, -90%);
  z-index: 99;

  img {
    width: 50px;
    height: 35px;
  }
}
// media queries
// ------------------------ Small Tablet Size -----------------------------
@media (min-width: 481px) and (max-width: 768px) {
  body {
    height: 120vh;
    &::after {
      height: 120vh;
    }
  }
  .select-options {
    justify-content: center;
    flex-direction: column;
    align-items: start;
    .options-for-main,
    .extra-options-for-temperatures {
      padding: 20px 0;
    }
    .options-for-main select {
      font-size: 2.4rem;
    }
    .extra-options-for-temperatures select {
      font-size: 1.5rem;
    }
  }
  .main-for-temperature .container-for-temperature {
    width: 70%;
    margin: auto;
    height: 80vh;
    padding-bottom: 30px;
    .box {
      flex-direction: column;
      align-items: stretch;

      .air-temperature,
      .wind-speed,
      .pressure {
        padding-bottom: 20px;

        .title {
          font-size: 1.6rem;
        }
        .info {
          margin: 0 20px;
          .min,
          .avg,
          .max {
            padding: 15px 0;
          }
        }
      }
    }
  }
  .main-for-wiki .container-for-wiki {
    width: 80%;
    height: 80vh;
    .content {
      font-size: 1.2rem;

      p {
        line-height: 50px;
      }
    }
  }
  .main-for-rovers .container-for-rovers {
    height: 80vh;
    .text {
      font-size: 1.2rem;
      width: 100%;
    }
    .images {
      grid-template-columns: repeat(2, minmax(200px, 250px));
      grid-template-rows: 200px 200px;
      gap: 20px;
    }
  }
  .did-you-know {
    width: 70%;
    .box {
      border-radius: 10px;
      padding: 30px;
    }
  }
  .active {
    width: 55%;
    height: 20vh;
    border: none;
    .box {
      border: 1px solid #fff;
      padding: 10px;
    }
  }
}
// ----------------------- Normal Tablet Size -------------------------------
@media (min-width: 769px) and (max-width: 1024px) {
  body {
    height: 120vh;
    &::after {
      height: 120vh;
    }
  }
  .select-options {
    justify-content: center;
    flex-direction: column;
    align-items: start;
    .options-for-main,
    .extra-options-for-temperatures {
      padding: 20px 0;
    }
    .extra-options-for-temperatures select {
      font-size: 1.5rem;
    }
  }
  .main-for-temperature .container-for-temperature {
    width: 50%;
    margin: auto;
    height: 80vh;
    .box {
      flex-direction: column;
      align-items: stretch;

      .air-temperature,
      .wind-speed,
      .pressure {
        padding-bottom: 20px;

        .title {
          font-size: 1.6rem;
        }
        .info {
          margin: 0 20px;
          .min,
          .avg,
          .max {
            padding: 15px 0;
          }
        }
      }
    }
  }
  .main-for-wiki .container-for-wiki {
    width: 80%;
    height: 75vh;
    .content {
      font-size: 1.5rem;

      p {
        line-height: 65px;
      }
    }
  }
  .main-for-rovers .container-for-rovers {
    height: 80vh;
    .text {
      font-size: 1.5rem;
    }
    .images {
      grid-template-columns: repeat(2, minmax(200px, 300px));
      grid-template-rows: 250px 250px;
      gap: 40px;
    }
  }
  .did-you-know {
    height: 100vh;
    width: 70%;
    .box {
      border-radius: 10px;
      padding: 30px;
      .header {
        font-size: 2rem;
      }
      .fact {
        font-size: 1.5rem;
      }
    }
  }
  .active {
    width: 50%;
    height: 20vh;
    border: none;
    .box {
      border: 1px solid #fff;
      padding: 10px;
    }
  }
}

// --------------------- Phone Size --------------------------------
@media (max-width: 480px) {
  body {
    height: 140vh;
    &::after {
      height: 140vh;
    }
  }
  .select-options {
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;

    select {
      padding-right: 20px;
    }
    .options-for-main,
    .extra-options-for-temperatures {
      padding: 0;
      select option {
        font-size: 12px;
      }
      &::after {
        top: 40%;
        width: 20px;
        height: 12px;
      }
    }
    .options-for-main {
      select {
        font-size: 1.7rem;
      }
      &::after {
        margin-top: 3px;
      }
    }
    .extra-options-for-temperatures select {
      font-size: 1rem;
    }
  }
  .main-for-temperature .container-for-temperature {
    width: 80%;
    margin: auto;
    height: 100vh;
    padding-bottom: 30px;
    .box {
      flex-direction: column;
      align-items: stretch;

      .air-temperature,
      .wind-speed,
      .pressure {
        padding-bottom: 20px;

        .title {
          font-size: 1.2rem;
        }
        .info {
          .min,
          .avg,
          .max {
            font-size: 1rem;
            padding: 15px 0;
          }
        }
      }
    }
  }
  .main-for-wiki .container-for-wiki {
    width: 80%;
    height: 100vh;
    .content {
      font-size: 1rem;

      p {
        line-height: 30px;
      }
    }
  }
  .main-for-rovers .container-for-rovers {
    height: 100vh;
    .text {
      font-size: 1rem;
      width: 100%;
    }
    .images {
      grid-template-columns: minmax(120px, 150px);
      grid-template-rows: repeat(4, 120px);
      gap: 20px;

      .img .info {
        font-size: 12px;

        a {
          font-size: 12px;
        }
      }
    }
  }
  .did-you-know {
    width: 70%;
    .box {
      border-radius: 10px;
      padding: 30px;

      .header {
        font-size: 1.5rem;
      }
      .fact {
        font-size: 1rem;
      }
    }
  }
  .active {
    width: 55%;
    height: 20vh;
    border: none;
    .box {
      border: 1px solid #fff;
      padding: 10px;
      .header {
        font-size: 1.2rem;
      }
      .fact {
        font-size: 14px;
      }
    }
  }
}

// extra sizes to fix

@media (min-width: 481px) and(max-width: 540px) {
  .select-options .options-for-main select {
    font-size: 2.2rem;
  }
}
